#leftMenu{
	width: 220px;
	border-style: solid;
	border-width: 2px;
	float:left;
	padding-right: 100px;
	left: 0;
	top: 0;
}

body {
	margin: 50px 0px;
	padding: 0px;
	background: #D8D9ED;
}

#straightLinePallet, #rectanglePallet, #circlePallet {
	display: none;
	height: 185px;
}

button {
	width: 120px;
	height: 30px;
	margin-top: 10px;*/
	padding: 5px;
	text-align: center;
}

#options{
	margin: 0px auto;
	border: solid;
}

canvas {
	border-style: solid;
	border-width: 2px;
	background: #fff;
	float: right;
	right: 0;
	top:0;
}

header {
	padding-bottom: 20px;
	text-align: center;
	width: 1200px;
}

.colorButton {
	width: 30px;
	height: 30px;
	margin-bottom: -15px;
}

#rightPallet button{
	width: 90px;
	height: 25px;
}

#drawingOptions{
	display: none;
	width: 200px;

}
#colorPallet {
	width: 50%;
	margin: auto;
}
#leftPallet {
	width: 50%;
	float: left;
	left: 0;
	top: 0;	
}

#rightPallet {
	width: 50%;
	float: right;
	right: 0;
	top: 0;	
}

#content {
	width: 1200px;
	margin: 0px auto;
	padding: 15px;
	border: 2px solid;
}