#leftMenu{
	width: 250px;
	float:left;
}

body {
	width: 1300px;
	background: #e6d7b8;
}

header {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #fff;
	padding-top: 50px;
	font-size: 40px;
	line-height: 44px;
	letter-spacing: -1px;
	font-weight: bold;
	background: #696b8a;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: -15px;
	margin-left: -15px;
	margin-right: 15px;
	padding-right: 10px;
}

#straightLinePallet, #rectanglePallet, #circlePallet {
	display: none;
	height: 320px;
	width: 250px;
	margin: 0 auto;
	margin-left: 10px;
}

button {
	width: 100%;
	height: 45px;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	margin: 5 auto;
}

.optionButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.optionButton:hover {
	background-color:#e9e9e9;
}

.optionButton:active {
	position:relative;
	top:1px;
}

#options{
	position:relative;
	top:1px;;
}

#wrapper {
	padding: 5px;
	padding-top: 100px;
}

canvas {
	border-style: solid;
	border-width: 2px;
	background: #fff;
	float: right;
	right: 0;
	top:0;
}

.colorButton {
	width: 30px;
	height: 30px;
	margin-bottom: 7px;
	margin-right: 3px;
}

#leftPallet {
	width: 45%;
	float: left;
	left: 0;
	top: 0;	
}

#rightPallet button{
	width: 100px;
	height: 40px;
}

#rightPallet {
	width: 50%;
	float: right;
	right: 0;
	top: 0;	
	margin-left: 5px;
}
#drawingOptions{
	display: none;
	width: 20px;
	border-style: solid;
}

#colorPallet {
	width: 50%;
	margin: auto;
}

#bottomPallet {
	width: 260px;
	float: left;
	margin-top: 5px;
}

#bottomPallet button{
	width: 95px;
	float: left;
	margin: 7px;
	font-weight: normal;
	font-size: 13px;
}

